body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: rgb(239, 205, 205);
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    width: 150px; 
    height: 100px; 
}

section {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ea9e9e;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e8baba;
}

h3 {
    color: #333;
    border-bottom: 2px solid #333;
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}