.header {
    background-image: url('/image/header.jpeg');
    padding: 20px;
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
}